<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultColumnCount</key>
	<integer>6</integer>
	<key>globalHotkey</key>
	<dict>
		<key>keyCode</key>
		<integer>122</integer>
		<key>modifiers</key>
		<integer>8390912</integer>
	</dict>
	<key>lastColumnCount</key>
	<integer>6</integer>
	<key>lastRowCount</key>
	<integer>6</integer>
	<key>shortcuts</key>
	<data>
	YnBsaXN0MDDUAQIDBAUIxMVUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABrxAkCQofNjc+R0hRUlpbY2RsbXV2fX6Gh46Plpeen6anrq+2t7/AVSRu
	dWxs0gsMDQ5WJGNsYXNzWk5TLm9iamVjdHOAI68QEA8QERITFBUWFxgZGhscHR6AAoAF
	gAeACYALgA2AD4ARgBOAFYAXgBmAG4AdgB+AId0gISIjJCUmJygpKisLLC0uLzAtMTIz
	MiwxNV8QEnNlbGVjdGlvbkVuZENvbHVtbl8QEXNlbGVjdGlvblN0YXJ0Um93XGtleUNv
	bWJvQ29kZVdlbmFibGVkXWtleUNvbWJvRmxhZ3NfEBRzZWxlY3Rpb25TdGFydENvbHVt
	bltzaXplQ29sdW1uc1pzdWJkaXZpZGVkV25hbWVLZXlWZ2xvYmFsXxAPc2VsZWN0aW9u
	RW5kUm93WHNpemVSb3dzEAUQABB6CRIAgAAAEAYIgAMIgARZRnVsbCBTaXpl0jg5Oj1Y
	JGNsYXNzZXNaJGNsYXNzbmFtZaI7PFhTaG9ydGN1dFhOU09iamVjdFhTaG9ydGN1dN0g
	ISIjJCUmJygpKisLPy1AL0ItMTJEMj8xNRADEHgJEgCAAAAIgAYIgARfEBNUb3AgTGVm
	dCBUd28gVGhpcmRz3SAhIiMkJSYnKCkqKwtJLUovTC0xMk4ySTE1EAIQEgkSAAIAAAiA
	CAiABF8QEFRvcCBMZWZ0IFF1YXJ0ZXLdICEiIyQlJicoKSorCywtUy9VPzEyVzJJMTUQ
	EwkSAAIAAAiACgiABF8QEVRvcCBSaWdodCBRdWFydGVy3SAhIiMkJSYnKCkqKwtJP1wv
	Xi0xMmAyLDE1EBQJEgACAAAIgAwIgARfEBNCb3R0b20gTGVmdCBRdWFydGVy3SAhIiMk
	JSYnKCkqKwssP2UvZz8xMmkyLDE1EBUJEgACAAAIgA4IgARfEBRCb3R0b20gUmlnaHQg
	UXVhcnRlct0gISIjJCUmJygpKisLbi1vLy0tMTJyMm4xNRABEBIJCIAQCIAEXlRvcCBM
	ZWZ0IE5pbnRo3SAhIiMkJSYnKCkqKws/LXcvLUkxMnoybjE1EBMJCIASCIAEXxAQVG9w
	IE1pZGRsZSBOaW50aN0gISIjJCUmJygpKisLLC1/Ly2BMTKDMm4xNRAUCRAECIAUCIAE
	XxAPVG9wIFJpZ2h0IE5pbnRo3SAhIiMkJSYnKCkqKwtuSYgvLS0xMosyPzE1EBUJCIAW
	CIAEXxARQ2VudGVyIExlZnQgTmludGjdICEiIyQlJicoKSorCz9JkC8tSTEykzI/MTUQ
	FwkIgBgIgARfEBNDZW50ZXIgTWlkZGxlIE5pbnRo3SAhIiMkJSYnKCkqKwssSZgvLYEx
	MpsyPzE1EBYJCIAaCIAEXxASQ2VudGVyIFJpZ2h0IE5pbnRo3SAhIiMkJSYnKCkqKwtu
	gaAvLS0xMqMyLDE1EBoJCIAcCIAEXxARQm90dG9tIExlZnQgTmludGjdICEiIyQlJico
	KSorCz+BqC8tSTEyqzIsMTUQHAkIgB4IgARfEBNCb3R0b20gTWlkZGxlIE5pbnRo3SAh
	IiMkJSYnKCkqKwssgbAvLYExMrMyLDE1EBkJCIAgCIAEXxASQm90dG9tIFJpZ2h0IE5p
	bnRo3SAhIiMkJSYnKCkqKwssLbgvui0xMrwvLDE1EHoJEgCaAAAIgCIJgARfEBBGdWxs
	IFNpemUgR2xvYmFs0jg5wcKjwsM8Xk5TTXV0YWJsZUFycmF5V05TQXJyYXkSAAGGoF8Q
	D05TS2V5ZWRBcmNoaXZlcgAIABEAFgAfACgAMgA1ADoAPABjAGkAbgB1AIAAggCVAJcA
	mQCbAJ0AnwChAKMApQCnAKkAqwCtAK8AsQCzALUA0ADlAPkBBgEOARwBMwE/AUoBUgFZ
	AWsBdAF2AXgBegF7AYABggGDAYUBhgGIAZIBlwGgAasBrgG3AcAByQHkAeYB6AHpAe4B
	7wHxAfIB9AIKAiUCJwIpAioCLwIwAjICMwI1AkgCYwJlAmYCawJsAm4CbwJxAoUCoAKi
	AqMCqAKpAqsCrAKuAsQC3wLhAuIC5wLoAuoC6wLtAwQDHwMhAyMDJAMlAycDKAMqAzkD
	VANWA1cDWANaA1sDXQNwA4sDjQOOA5ADkQOTA5QDlgOoA8MDxQPGA8cDyQPKA8wD4AP7
	A/0D/gP/BAEEAgQEBBoENQQ3BDgEOQQ7BDwEPgRTBG4EcARxBHIEdAR1BHcEiwSmBKgE
	qQSqBKwErQSvBMUE4ATiBOME5ATmBOcE6QT+BRkFGwUcBSEFIgUkBSUFJwU6BT8FQwVS
	BVoFXwAAAAAAAAIBAAAAAAAAAMYAAAAAAAAAAAAAAAAAAAVx
	</data>
	<key>useDefaultGrid</key>
	<true/>
	<key>useGlobalHotkey</key>
	<true/>
	<key>useMonitorCycling</key>
	<true/>
</dict>
</plist>
